venv/
__pycache__/
*.pyc
.DS_Store
data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep
models/*.pt
models/*.h5
.ipynb_checkpoints/
results/*
!results/.gitkeep
!results/evaluate_results.json
!results/ood_results.json